<p>article-detail works!</p>
<div *ngIf="article">
    <div><span>id: </span>{{article.id}}</div>
    <div><span>title: </span>{{article.title}}</div>

    <hr/>
    <div>
        <label for="file">Choose Markdown File</label>
        <input id="mdfile" type="file" (change)="handleMarkdownFileInput($event.target.files)">
        <button (click)="uploadMarkdownFile()">Upload Markdown</button>
    </div>
    <hr/>

    <button #upload (click)="file.value='';file.click()">Add File</button>
    <input type="file" (change)="handleFileInput($event.target.files)" [hidden]="true" #file>
    <button (click)="uploadFiles()">Upload File</button>

    <div>
        <ul>
            <li *ngFor="let file of uploadFiles; index as i">
                <span>{{file.name}}</span>
                <button (click)="removeFile(i)">Remove</button>
            </li>
        </ul>
    </div>
    <hr/>

    <iframe [src]="previewUrl">
        <p>Your browser does not support iframes.</p>
    </iframe>
</div>

